# Getting to know your dataset

### Data Understanding

The goal of the Business Understanding step of the Data Science Process is to develop a clear statement of the question or problem you are trying to solve. Once you have that problem clarified, you're ready to dig into your data in the **Data Understanding** step:

The Data Understanding step of the Data Science Process involves building an initial understanding of your data by exploring and visualizing your data. We'll address visualizing next week.

This week, we'll discuss your intial exploration of the data with the pandas library. 

That initial exploration includes:

1. Collecting and loading the data:
- Gather the data you need from relevant sources, such as databases, files, or APIs. 
- Load the data into a pandas DataFrame

2. Exploring the data: 
- Look at the organization of your data, such as 
	- the number of rows and columns
	- variable names
	- data types.
- Familiarize yourself with the data by looking at a few rows or records.
- This will give you an idea of the size and complexity of the dataset and is an important intial sanity check.


3. Summarizing the data: 
- Generate basic statistics (such as counts, averages, and percentages) for each variable or feature. - This will help you understand the distribution of the data and identify potential issues, like outliers or missing values.


Next week , we'll work on creating visualizations of the data with the matplotlib library.

### 1.1 Loading the data

In this section, we'll see how to read data into a DataFrame from CSV (comma-separated values) files, one of the most common data formats you'll encounter. 


Imagine your boss at a talent agency emails you the `spotify-dataset.csv` file. The file is a dataset of songs and their characteristics that she downloaded from Spotify. She also sends a data dictionary so you can reference the variables.

The data dictionary:

- `title`: name of the Track 
- `artist`: name of the Artist 
- `year`: release year of the track 
- `bpm`: beats per minute; the tempo of the song 
- `en`: energy; the higher the value, the more energetic a song 
- `dnce`: danceability, the higher the value, the easier it is to dance to this song
- `loud`: loudness; the higher the value, the louder the song
- `val`: valence; the higher the value, the more positive mood for the song
- `dur`: duration; length of the song
- `acous`: acoustic; the higher the value the more acoustic the song is
- `speech`: speechiness; the higher the value the more spoken words the song contains 
- `pop`: popularity; the higher the value the more popular the song is

#### Viewing Datasets

To import the `spotify-dataset.csv` file as a DataFrame, we'll use the `read_csv()` method like this:

`dataframe_name = pd.read_csv(filename)`
 
The `read_csv()` method will read the file specified by the filename, parse the data contained within that file, and store it all in a DataFrame. Let's import the CSV file:

In [1]:
import pandas as pd

# read the CSV file into a DataFrame
music = pd.read_csv("../datasets/spotify-dataset.csv")

# display the DataFrame 
music

,Unnamed: 0,title,artist,year,bpm,en,dnce,loud,live,val,dur,acous,speech,pop
0,0,Sunrise,Norah Jones,2004,157,30,53,-14,11,68,201,94,3,71
1,1,Black Night,Deep Purple,2000,135,79,50,-11,17,81,207,17,7,39
2,2,Clint Eastwood,Gorillaz,2001,168,69,66,-9,7,52,341,2,17,69
3,3,The Pretender,Foo Fighters,2007,173,96,43,-4,3,37,269,0,4,76
4,4,Waitin' On A Sunny Day,Bruce Springsteen,2002,106,82,58,-5,10,87,256,1,3,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1989,Heartbreak Hotel,Elvis Presley,1958,94,21,70,-12,11,72,128,84,7,63
1990,1990,Hound Dog,Elvis Presley,1958,175,76,36,-8,76,95,136,73,6,69
1991,1991,Johnny B. Goode,Chuck Berry,1959,168,80,53,-9,31,97,162,74,7,74
1992,1992,Take Five,The Dave Brubeck Quartet,1959,174,26,45,-13,7,60,324,54,4,65
1993,1993,Blueberry Hill,Fats Domino,1959,133,50,49,-10,16,83,148,74,3,56

### 1.2 Exploring the data

#### Previewing the DataFrame

- Ensuring the correctness of a .csv file post-import can help identify any discrepancies present in the imported data. 
- This precautionary measure prevents us from diving into data analysis and subsequently encountering unexpected outcomes due to incomplete data or the file not adhering to the standard comma-separated values format.

- A good place to start is with the `.shape` attribute that allows you to quickly check the dimensions (number of rows and columns) of your DataFrame.
- This can help you confirm that you've loaded your data correctly. For example, if you were expecting to load a dataset with 100 rows and 5 columns, and df.shape returns (100, 5), that's a good sign that your data has been loaded correctly. If it returns something different, it may mean there was an error when importing the file, or that the file's structure wasn't what you expected.
- Another way it can be helpful is in identifying missing data:
    - If you remove or filter rows with missing data, checking df.shape again can tell you how many rows were removed.

Here is how you use it:

`df_name.shape` 

NOTE: `.shape` is an attribute, not a method, so you don't use parentheses with it: `df.shape`, not `df.shape()`.


Let’s take a look at our music dataset:

In [2]:
# check the dimensions of your DataFrame
music.shape

(1994, 14)

#### Preview the DataFrame

After importing data from a .csv file, using the `head()` and `tail()` methods to look at the first few and last few rows of your DataFrame can help you visually confirm that your data has been loaded correctly. You can check things like:

- The column names are correct.
- The data in each column is of the right type (e.g., text, number).
- The data doesn't contain unexpected values or errors.

For example, suppose you're expecting a DataFrame with the columns 'Name', 'Age', and 'City'. After loading your DataFrame, you can use `df.head()` to quickly check that these columns exist and contain the data types you expect, i.e., 'Name' is text, 'Age' is numerical and 'City' is text.


Use the `head()` method like this to see the first 5 rows:
 
`df_name.head()`

You can also specify the number of rows: 

`df_name.head(n=number_of_rows)`


Similarly, the tail() method shows the last 'n' rows of the DataFrame:

`df_name.tail()`
 
Let's check the `music` dataset:

In [3]:
# return first five rows
music.head()

,Unnamed: 0,title,artist,year,bpm,en,dnce,loud,live,val,dur,acous,speech,pop
0,0,Sunrise,Norah Jones,2004,157,30,53,-14,11,68,201,94,3,71
1,1,Black Night,Deep Purple,2000,135,79,50,-11,17,81,207,17,7,39
2,2,Clint Eastwood,Gorillaz,2001,168,69,66,-9,7,52,341,2,17,69
3,3,The Pretender,Foo Fighters,2007,173,96,43,-4,3,37,269,0,4,76
4,4,Waitin' On A Sunny Day,Bruce Springsteen,2002,106,82,58,-5,10,87,256,1,3,59

In [4]:
# return bottom five rows
music.tail()

,Unnamed: 0,title,artist,year,bpm,en,dnce,loud,live,val,dur,acous,speech,pop
1989,1989,Heartbreak Hotel,Elvis Presley,1958,94,21,70,-12,11,72,128,84,7,63
1990,1990,Hound Dog,Elvis Presley,1958,175,76,36,-8,76,95,136,73,6,69
1991,1991,Johnny B. Goode,Chuck Berry,1959,168,80,53,-9,31,97,162,74,7,74
1992,1992,Take Five,The Dave Brubeck Quartet,1959,174,26,45,-13,7,60,324,54,4,65
1993,1993,Blueberry Hill,Fats Domino,1959,133,50,49,-10,16,83,148,74,3,56

In [5]:
# return first ten rows
music.head(n=10)

,Unnamed: 0,title,artist,year,bpm,en,dnce,loud,live,val,dur,acous,speech,pop
0,0,Sunrise,Norah Jones,2004,157,30,53,-14,11,68,201,94,3,71
1,1,Black Night,Deep Purple,2000,135,79,50,-11,17,81,207,17,7,39
2,2,Clint Eastwood,Gorillaz,2001,168,69,66,-9,7,52,341,2,17,69
3,3,The Pretender,Foo Fighters,2007,173,96,43,-4,3,37,269,0,4,76
4,4,Waitin' On A Sunny Day,Bruce Springsteen,2002,106,82,58,-5,10,87,256,1,3,59
5,5,The Road Ahead (Miles Of The Unknown),City To City,2004,99,46,54,-9,14,14,247,0,2,45
6,6,She Will Be Loved,Maroon 5,2002,102,71,71,-6,13,54,257,6,3,74
7,7,Knights of Cydonia,Muse,2006,137,96,37,-5,12,21,366,0,14,69
8,8,Mr. Brightside,The Killers,2004,148,92,36,-4,10,23,223,0,8,77
9,9,Without Me,Eminem,2002,112,67,91,-3,24,66,290,0,7,82

### 1.3 Summarizing the DataFrame

- Imagine you've just received a big set of data and you want to get an overall idea of what it looks like.
- The `describe()` method is a one-stop-shop for getting a quick summary of your data.
- When you apply describe() to your dataset, it calculates a bunch of different things all at once. 
    - the count (how many items there are)
    - the mean (the average)
    - the standard deviation (how spread out the data is)
    - the minimum and maximum values, and
    - the quartiles (which split the data into four equal parts).


You can apply  `describe()` to the entire DataFrame like this:

`dataframe_name.describe()`

Or you can apply it to one variable like this:

`dataframe_name['column_name'].describe()`

Let's get a first pass look at the music DataFramewith describe():

In [6]:
# Summarize the DataFrame
music.describe()

,Unnamed: 0,year,bpm,en,dnce,loud,live,val,dur,acous,speech,pop
count,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.000000,1994.00000
mean,996.500000,1992.992979,120.215647,59.679539,53.238215,-9.008526,19.012036,49.408726,262.443330,28.858074,4.994985,59.52658
std,575.762538,16.116048,28.028096,22.154322,15.351507,3.647876,16.727378,24.858212,93.604387,29.011986,4.401566,14.35160
min,0.000000,1956.000000,37.000000,3.000000,10.000000,-27.000000,2.000000,3.000000,93.000000,0.000000,2.000000,11.00000
25%,498.250000,1979.000000,99.000000,42.000000,43.000000,-11.000000,9.000000,29.000000,212.000000,3.000000,3.000000,49.25000
50%,996.500000,1993.000000,119.000000,61.000000,53.000000,-8.000000,12.000000,47.000000,245.000000,18.000000,4.000000,62.00000
75%,1494.750000,2007.000000,136.000000,78.000000,64.000000,-6.000000,23.000000,69.750000,289.000000,50.000000,5.000000,71.00000
max,1993.000000,2019.000000,206.000000,100.000000,96.000000,-2.000000,99.000000,99.000000,1412.000000,99.000000,55.000000,100.00000