# Descriptive Statistics

In data science, it's really important to be able to take a lot of information and condense it into a single bit of info you can communicate quickly. This process is kind of like taking a large book and creating a one-sentence summary of it. One way we do this is through something called aggregation.

Aggregation lets us take lots of data, sort it into different groups, and then come up with a single number (like an average or a total) that tells us something about each group. This helps us understand the whole set of data better, or compare different groups to see how they're different or similar.

In the course of your exploratory data project on popular songs, different stakeholders have asked you all sorts of questions. What's the most popular song? How fast are the songs of the 10 most popular artists? How have the characteristics of popular songs changed over time? It feels like their lists will never end! :-) Pandas' handy methods for aggregation are here to help!
 
 
Weâ€™ll start by importing pandas:

In [1]:
import pandas as pd

We saved the file with all your changes from the last section as `music_for_analysis.csv` so let's import that now:

In [2]:
# read CSV file into DataFrame
music_analysis = pd.read_csv("../datasets/music_for_analysis.csv")
 
# display the first five rows
music_analysis.head()

,Unnamed: 0,title,artist,year,bpm,energy,dance,valence,duration,popularity,genre
0,0,Sunrise,Norah Jones,2004,157,30,53,68,3.350000,71,adult standards
1,1,Black Night,Deep Purple,2000,135,79,50,81,3.450000,39,album rock
2,2,Clint Eastwood,Gorillaz,2001,168,69,66,52,5.683333,69,alternative hip hop
3,3,The Pretender,Foo Fighters,2007,173,96,43,37,4.483333,76,alternative metal
4,4,Waitin' On A Sunny Day,Bruce Springsteen,2002,106,82,58,87,4.266667,59,classic rock

We'll also be working with a dataset on the animal life on a planet called Zorga. Here's the Data dictionary for that dataset:

Zorga Animals Data Dictionary:

`Species`: Zorga animal species name

`Height`: Typical height between 0.1 and 5 meters

`Weight`: Typical weight between 1 and 1000 kilograms

`Habitat`: The animals' habitats

`Diet`: The animals' diets

`Special trait`: Any special traits the animals have

`Lifespan`: Average lifespan between 1 and 100 Earth years

`Reproduction Rate`: reproduction rate between 1 and 10 offspring per year




Let's import that as `zorga_animals`:

In [ ]:
# read CSV file into DataFrame
zorga_animals = pd.read_csv("../datasets/zorga_animals.csv")
 
# display the first five rows
zorga_animals.head()

### 1.1 Descriptive Statistics

Descriptive statistics are calculations performed on a data set to summarize, describe, or present the data in a meaningful way. They provide simple summaries about the variables. 

- Here are a few examples:
- sum() adds all the numbers up
- mean() calculates the average score or price or number of visitors
- count() counts the number of valid entries in a particular column or row,
- min() finds the smallest number in the group, and max() finds the largest number.
- You use all of these methods like this:

To run the method on all the columns in the DataFrame:

`df_name.method_name()` 

To run the method on a particular column, add the column name:

`df_name['column_name'].method_name()` 


Descriptive statistics provide a powerful summary that may reveal patterns in data, but they do not allow us to make conclusions beyond the data we have analysed or reach conclusions regarding any hypotheses we might have made.

Descriptive statistics also give us the tools to answer some of those stakeholder questions quickly. Let's look at some of those questions:

- One executive who loves 70's rock asked "What's the oldest song?" Translated into data analysis terms, this question is: "What's the minimum value in the `year` column?"

In [ ]:
# output summary value 
music_analysis['year'].min()

Another question that came up was, "What's the fastest song?"

In [ ]:

# output summary value 
music_analysis['bpm'].max()

##### `count()` vs `value_counts()`

- An artist asked you a question that seems like you should be able to answer by counting:
- How many songs does each artist have?

- But for this question, you need `value_counts()` not `count()`
- `count()` counts all the values in the column.
- This question is asking about the frequency counts for different values in the column.
- For that, we need the `value_counts()` method.
- The `value_counts()` method outputs the frequency of each unique value found in that column.

In [ ]:
# output the frequency of value occurrences in column
music_analysis['artist'].value_counts()

### 1.2 Grouping Data

Applying simple descriptive statistics like `max()`, `min()`, or `mean()` to entire columns is useful, but your project goal is to explore the attributes of hit songs to provide actionable insights to your company's music producers. To do that, you're going to want to ask more complicated questions like: "What are the characteristics of the most popular songs?" Just running descriptive statistics on entire columns won't answer those questions. Instead, we need to divide the data into sections and calculate descriptive statistics for these segments for comparison. For this, we use the `groupby()` method:

`df_name.groupby('grouping_column')['target_column'].method_name()`


Let's illustrate with a simple example using the `animals` DataFrame from the last section:

In [8]:
# Create the DataFrame
animals = pd.DataFrame({
    'animal_name': ['dog', 'cat', 'rabbit', 'elephant', 'tiger'],
    'lifespan_years': [10, 15, 9, 60, 25],
    'diet': ['omnivore', 'carnivore', 'herbivore', 'herbivore', 'carnivore']
})

# Display DataFrame
animals

  animal_name  lifespan_years       diet
0         dog              10   omnivore
1         cat              15  carnivore
2      rabbit               9  herbivore
3    elephant              60  herbivore
4       tiger              25  carnivore

To find the average lifespan for each dietary group, we'll group by `diet` and take the mean of `lifespan_years`:

In [ ]:
# Group by diet and calculate the mean lifespan
animals.groupby("diet")['lifespan_years'].mean()

From this data, herbivores appear to have the longest lifespans. However, it's crucial to treat these findings as descriptive of the specific dataset we're using, rather than making broad generalizations. Various factors can influence these results that aren't necessarily connected to diet. For instance, the long lifespan of elephants (a well-known trait of this species) contributes significantly to the average lifespan of the herbivore group.

How do we use `groupby()` to answer our question: "What are the characteristics of the most popular songs?" We need to use `popularity` as a grouping column and then calculate descriptive statistics to describe the characteristics of popular songs. We usually use categorical variables for grouping columns, like `diet` in the example above. `Popularity` is a continuous variable. To use it as a grouping variable, we can create a categorical variable `popularity_range` using the familiar `cut()` method to create ranges (or "bins") of `popularity`. 

In the following code, we use`cut()` to create five bins of popularity: 'Very Low' (0-20), 'Low' (20-40), 'Medium' (40-60), 'High' (60-80), and 'Very High' (80-100). We add this new column 'popularity_range' to our music DataFrame:

In [10]:
# Create variable
music_analysis['popularity_range'] = pd.cut(music_analysis['popularity'], bins=[0, 20, 40, 60, 80, 100], labels=['Very Low', 'Low', 'Medium', 'High', 'Very High'])

# display to check
music_analysis.head()

,Unnamed: 0,title,artist,year,bpm,energy,dance,valence,duration,popularity,genre,popularity_range
0,0,Sunrise,Norah Jones,2004,157,30,53,68,3.350000,71,adult standards,High
1,1,Black Night,Deep Purple,2000,135,79,50,81,3.450000,39,album rock,Low
2,2,Clint Eastwood,Gorillaz,2001,168,69,66,52,5.683333,69,alternative hip hop,High
3,3,The Pretender,Foo Fighters,2007,173,96,43,37,4.483333,76,alternative metal,High
4,4,Waitin' On A Sunny Day,Bruce Springsteen,2002,106,82,58,87,4.266667,59,classic rock,Medium

Next, we use the `groupby()` method on 'popularity_range', and calculate the mean of `bpm` for each popularity group. The result, mean_bpm_by_popularity, will be a new DataFrame showing the average bpm for each range of popularity.

In [ ]:
# groupby
mean_bpm_by_popularity = music_analysis.groupby('popularity_range')['bpm'].mean()


# display to check
mean_bpm_by_popularity

### Multiple target columns with `groupby()`:

We can also calculate descriptive statistics for multiple variables for each popularity group. Instead of one target column, we use a list of target columns:

`df_name.groupby('grouping_column')[['target_column1', 'target_column2', 'target_column3']].method_name()`

Let's calculate the mean of `bpm, dance, duration, valence`, and `energy` for each popularity group.

In [ ]:
# groupby
avg_characteristics_by_popularity= music_analysis.groupby('popularity_range')[['bpm', 'dance', 'duration', 'valence', 'energy']].mean()

# display to check
avg_characteristics_by_popularity